.login{
    min-height:100vh;
    background-image: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
}


.loginHeader{
    font-size: 10vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 15px 0;
    font-weight: 550;
}


.loginForm{
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f2f2f2;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.loginForm > input{
    box-sizing: border-box;
    padding: 1vmax 2vmax;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #f2f2f2;
    background-color: #fff;
    margin-bottom: 30px;
    font: 100 1.2rem "Roboto", sans-serif;
    outline:none
}


.loginForm > a{
    align-self: flex-end;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.342);
    margin: 2vmax;
}

.loginButton{
    width: 100%;
    background: #FFDE69;
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
    border: none;
    outline: none;
}

.loginButton:hover{
    cursor: pointer;
}

.optionsDiv{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.optionsDiv>a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.342);
}


.loginImage{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 30px;
}


@media screen and (min-width:600px) {
    .loginForm{
        width: 40%;
    }

    .loginHeader{
        font-size: 3vw;
    }

    .loginImage{
        width: 40%;
    }
}

